@model IEnumerable<NBInventory.DTO.RoomDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Room_NumberID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room_Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Room_NumberID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room_Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Room_NumberID }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Room_NumberID })
        </td>
    </tr>
}

</table>
